<%- include ("../layout/usertem")%>

    <body>
        
        <main>
            <section style="padding-top: 200px;"  class="content-main ">
                <div class="card mx-auto card-login">
                    <div   class="card-body ">
                        <h4 class="card-title mb-4">Enter your current password</h4>
                        <% if(message) {%>
                            <p class="text-danger errorMsg">
                                <%=message %>
                            </p>
                            <% } %>
                                <form method="post" action="/changepassword">
                                    
                                    <div class="mb-3">
                                        <input class="form-control" placeholder="Password" name="password"
                                            type="password">
                                    </div> 
                                    <div class="mb-4">
                                        <button type="submit" class="btn btn-primary w-100"> Change </button>
                                    </div> <!-- form-group// -->
                                </form>
                               
                                
                    </div>
                </div>
            </section>
         
        </main>
        <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
        <!-- Main Script -->
        <script src="assets/js/main.js" type="text/javascript"></script>
        <script>
            const error = document.getElementsByClassName('errorMsg');
            // Check if there are any elements with the class 'errorMsg'
            if (error.length) {
                setTimeout(() => {
                    for (let i = 0; i < error.length; i++) {
                        error[i].innerHTML = ' ';
                    }
                }, 3000);
            }
        </script>
    </body>
    <!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-account-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:33 GMT -->

    </html>