<%- include ("../layout/usertem")%>

<body>
  <main>
    <section class="content-main ">
      <div class="card mx-auto card-login">
        <div class="card-body">
          <% if (message) { %>
            <p class="text-danger errorMsg">
              <%= message %>
            </p>
          <% } %>
          
          <form id="myForm" method="post" action="/updatepassword" onsubmit="return validation(event)">
            <h5 class="text-center">Reset Your Password </h5>
            <br>
            <div class="mb-3">
              <label class="form-label">Password</label>
              <input class="form-control" id="password" name="password" placeholder="Password" type="password" onkeyup="passwordChecking()" required>
            </div>
            <div id="errorpassword" class="ms-2 text-danger"></div>

            <div class="mb-3">
              <label class="form-label">Confirm Password</label>
              <input class="form-control" name="confirmPassword" id="cpassword" placeholder="Password" type="password" onkeyup="cpasswordChecking()" required>
            </div>
            <div id="errorcpassword" class="ms-2 text-danger"></div>
            
            <div class="mb-4">
              <button type="submit" name="signup" class="btn btn-primary w-100">Reset</button>
            </div>
          </form>
        </div>
      </div>
    </section>
  </main>

  <script>
    const error = document.getElementsByClassName('errorMsg');
    if (error.length) {
      setTimeout(() => {
        for (let i = 0; i < error.length; i++) {
          error[i].innerHTML = ' ';
        }
      }, 3000);
    }

    function validation(event) {
      if (passwordChecking() && cpasswordChecking()) {
        return true;
      } else {
        event.preventDefault();
        passwordChecking();
        cpasswordChecking();
        return false;
      }
    }

    function passwordChecking() {
      const password = document.getElementById("password").value;
      const errorPassword = document.getElementById("errorpassword");

      if (password.trim() === "") {
        errorPassword.innerHTML = "Please enter your password";
        return false;
      } else if (password.length < 8) {
        errorPassword.innerHTML = "Please enter a minimum of 8 characters";
        return false;
      } else if (!/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*()_+])[A-Za-z\d!@#$%^&*()_+]{8,}$/.test(password)) {
        errorPassword.innerHTML = "Please include at least one symbol, number, and capital letter";
        return false;
      } else {
        errorPassword.innerHTML = "";
        return true;
      }
    }

    function cpasswordChecking() {
      const cpassword = document.getElementById("cpassword").value;
      const password = document.getElementById("password").value;
      const errorCPassword = document.getElementById("errorcpassword");

      if (cpassword === "") {
        errorCPassword.innerHTML = "Please enter your password";
        return false;
      } else if (cpassword !== password) {
        errorCPassword.innerHTML = "Passwords do not match";
        return false;
      } else {
        errorCPassword.innerHTML = "";
        return true;
      }
    }

    window.onload = function() {
      document.getElementById("password").value = ""; // Clear password field
      document.getElementById("cpassword").value = ""; // Clear confirm password field
      document.getElementById("errorpassword").innerHTML = ""; // Clear error message for password
      document.getElementById("errorcpassword").innerHTML = ""; // Clear error message for confirm password
    };
  </script>
</body>
</html>
