<div class="col-md-4">
    <div class="dashboard-menu">
      <ul class="nav flex-column" role="tablist">
        <li class="nav-item">
          <a class="nav-link" id="dashboard-tab" data-bs-toggle="tab" href="/useraccount" role="tab" aria-controls="dashboard" aria-selected="false"><i class="fi-rs-settings-sliders mr-10"></i>Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="orders-tab" data-bs-toggle="tab" href="/order/ordersuccess" role="tab" aria-controls="orders" aria-selected="false"><i class="fi-rs-shopping-bag mr-10"></i>Orders</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" id="address-tab" data-bs-toggle="tab" href="/useraddress" role="tab" aria-controls="address" aria-selected="true"><i class="fi-rs-marker mr-10"></i>My Address</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="orders-tab" data-bs-toggle="tab" href="/wallet" role="tab" aria-controls="orders" aria-selected="false"><i class="fi-rs-shopping-bag mr-10"></i>Wallet</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" id="logoutLink" href="/logout"><i class="fi-rs-sign-out mr-10"></i>Logout</a>
        </li>
      </ul>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    // Frontend JavaScript (on the page where logout link/button is)
document.getElementById('logoutLink').addEventListener('click', function(event) {
    event.preventDefault(); // Prevent immediate navigation

    Swal.fire({
        title: 'Logout Confirmation',
        text: 'Are you sure you want to log out?',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, Logout'
    }).then((result) => {
        if (result.isConfirmed) {
            // If confirmed, redirect to logout route
            window.location.href = '/logout';
        }
    });
});
  </script>