<div class="col-md-4">
    <div class="dashboard-menu">
      <ul class="nav flex-column" role="tablist">
        <li class="nav-item">
          <a class="nav-link" id="dashboard-tab" data-bs-toggle="tab" href="/useraccount" role="tab" aria-controls="dashboard" aria-selected="false"><i class="fi-rs-settings-sliders mr-10"></i>Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="orders-tab" data-bs-toggle="tab" href="/order/ordersuccess" role="tab" aria-controls="orders" aria-selected="false"><i class="fi-rs-shopping-bag mr-10"></i>Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="track-orders-tab" data-bs-toggle="tab" href="/wishlist" role="tab" aria-controls="track-orders" aria-selected="false"><i class="fi-rs-shopping-cart-check mr-10"></i>Wishlist</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="address-tab" data-bs-toggle="tab" href="/useraddress" role="tab" aria-controls="address" aria-selected="true"><i class="fi-rs-marker mr-10"></i>My Address</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="/logout"><i class="fi-rs-sign-out mr-10"></i>Logout</a>
        </li>
      </ul>
    </div>
  </div>